.Contact {
    top: 0;
    width: 100%;
    height: 700px;

    .inner {
        margin-left: 200px;
        margin-right: 200px;
        padding-left: 50px;
        padding-right: 50px;
        margin: 0 auto;
        padding: 4rem 2rem;
        width: 100%;
    
        .contact-title {
            display: flex;
            justify-content: center;
            padding-top: 70px;
            padding-bottom: 70px;
            font-size: 40px;  
            text-decoration: underline;
            text-underline-position: under;
            text-decoration-color: #E36761;  
        }

        .email {
            display: flex;
            justify-content: center;
            font-size: 25px;
        }
    }

}