.typer {
    top: 0;
    width: 100%;
    height: 1500px;
    position: relative;

    .bgImg {
      top: 0;
      right: 0;
      left: 0;
      bottom: 0;
      position: absolute;
      background-size: cover;

      // width: 1600px;
      width: 100%;
      height: 600px;
      background: rgba(0, 0, 0, 0.5);
      z-index: -2;
      opacity: 0.3;

    }

    .cursor {
      display: inline-block;
      position: relative;
    }
    //.cursor::after {
    //  content: "";
    //  margin: auto;
    //  position: absolute;
    //  right: -8px;
    //  top: 246px;
    // width: 4px;
    //  height: 10%;
    //  background-color: black;
    //  animation: cursor-animation 1.5s step-end infinite;
    //}
    //@keyframes cursor-animation {
    //    0% {
    //     opacity: 0;
    //    }
    //    50% {
    //      opacity: 1;
    //    }
    //  100% {
    //      opacity: 0;
    //    }
    //  }

    .text {
        display: flex;
        justify-content: center;
        line-height: 550px;
        text-align: center;
        font-weight: bold;
        font-size: 50px;
    }
}