.hheader {
    height: 55px;
    width: 95%;
    top: 0;
    position: fixed;
    z-index: 2;

    .headerText {
        float: right;
        height: 80px;
        width: 750px;
        background-color: #888;
        border-radius: 30px;
        margin-top: -25px;
        background-color: rgba( 0, 0, 0, 0.5 );
    }

    .header-li {
        float: right;
        flex: 1;
        padding: 19px;
        font-size: 20px;
        font-weight: bold;
        list-style: none;
        margin-right: 55px;
    }
}